page-order-details {
/*
  .ksd-card {
    background-color: #F7F7F7;
  }

  ion-item {
    max-height: 2.0rem ;
  }

  ion-item.ksd-card.item.item-block.item-md {
    margin: 0px ;
    padding-left: 5px ;
    min-height: 2.0rem;
  }
*/
  ion-label {
  font-size: 15px ;
  }  

  .ksd-total {
    padding-top: 10px ;
    padding-bottom: 10px ;
  }
  .ksd-date {
    font-family: 'latoregular' ;
    font-size: 15px ;
    background-color: white ;
    color: black ;
   }

 .ksd-time {
 //   font-family: 'latoregular' ;
    font-size: 15px ;
    color: #050505 ;
   }

  .ksd-details {
 //   font-family: 'latoregular' ;
    font-size: 15px ;
//    background-color: #F7F7F7;
//    background-color: white ;
    color: black ;
    padding: 0px ;
    margin: 0px ;
  }

  //  font-family: 'latobold' ;
  .ksd-order-number {
    font-size: 15px ;
    color: #050505 ;
  }

  .ksd-name {
    font-family: 'latoregular' ;
    font-size: 15px ;
    color:  #00D4AA ;
    padding-bottom: 3px ;
  }

  .ksd-spacer-36 {
    padding-top: 36px ;
  }
  .ksd-spacer-26 {
    padding-top: 26px ;
  }
  .ksd-spacer-65 {
    padding-top: 65px ;
  }
  .ksd-comment {
    font-size: 12px ;
    padding:0px ;
    margin: 0px ;
  }
  .ksd-comment-text {
//    background-color: #F7F7F7 ;
    font-size: 15px ;
    min-height: 100px ;
    max-height: 100px ;
    width: 100% ;
    margin:0px ;
    padding:0px ;
    border: 1px 1px 1px 1px ;
    border-color: #F7F7F7 ;
    border-top: 2px ;
  
  }
  
  
  .ksd-spacer {
    padding-top: 5px ;
  }

  .ksd-spacer-1 {
    background-color: #F7F7F7;
    padding-top: 26px ;
  }
}
