/*
body {
      font-family: 'Lato';
}
button {
      font-family: 'Lato';
} 
*/

ion-navbar {
    font-family: 'latolight';
    font-size: 20px;
    color: #000000;
    text-align: center;

    //  text-transform: uppercase;
    //  letter-spacing: 0.14em;
}

/*
.content {
    height: 100% ;
    width: 100% ;
    // background-color: $ksd-background-color ;
}

body {
  font: 100% $ksd-font-stack ;
}
*/

ion-select {
    max-width: 100%;
    min-width: 100%;
    margin: 0px;
    padding: 0px;

    // border: 3px solid red;
    // background-color: $ksd-background-color ;
}

.button-md {
    //    font-family: "latolight" ;
    background-color: $ksd-footer-button-color;
    color: $ksd-footer-button-text-color;
    margin: 0px;
    text-transform: none;
    box-shadow: none !important;
    font-size: 15px;
}

.ksd-round-button {
    font-family: "latolight";
    font-size: 11px;
    width: 80px;
    height: 25px;
    margin: 0px;
    padding: 0px;
    vertical-align: center;
    color: black;
}

.ksd-round-button.disable-hover.button.button-md.button-default.button-default-md.button-round.button-round-md.item-button {
    max-height: 28px;
    min-height: 28px;
}

.ksd-anchor-button {
    text-transform: none;
    font-size: 15px;
    color: black;
}

.form-label-float {
    color: $ksd-label-text-color;
}

/*  
ion-modal {
    ion-backdrop {
        visibility: visible;
    }
    .modal-wrapper {
        width: 70%;
        height: 30%;
        top: ((100%-30%)/2) ;
        left: ((100%-70%)/2) ;
//        margin: 7%;
        position: absolute;
//        border-radius: 13px;
//        overflow: hidden;
    }
}
*/

.no-padding {
    padding: 0px;
    margin: 0px;
}

.background-image {
    background-image: url("");
    background-size: cover;
    background-position: center;
    height: 50vw;
    background-blend-mode: multiply;
}

.main-content {
    padding: 20px;
    background-color: white;
    position: absolute;
    min-width: 100%;
}

.ksd-image {
    height: 96px;
    padding: 0px;

    //    padding-top: 0px ;
    width: 96px;
}

.top-button {
    //  line-height: 12px;
    //  width: 18px;
    //  font-size: 8pt;
    //  font-family: tahoma;
    //  margin-top: 1px;
    //  margin-right: 2px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: none;
    width: 30px;
    height: 30px;

    //     background: white;
    color: black;
    opacity: 0.8;
    font-size: 250%;
    border: 0px;
    background-blend-mode: multiply;
}

.top-left-button {
    //  line-height: 12px;
    //  width: 18px;
    //  font-size: 8pt;
    //  font-family: tahoma;
    //  margin-top: 1px;
    //  margin-right: 2px;
    position: absolute;
    top: 40px;
    left: 20px;
    background: none;

    //color: white;
    opacity: 0.8;
    background-blend-mode: multiply;
}

.top-left-button-2 {
    //  line-height: 12px;
    //  width: 18px;
    //  font-size: 8pt;
    //  font-family: tahoma;
    //  margin-top: 1px;
    //  margin-right: 2px;
    position: absolute;
    top: 40px;
    left: 20px;
    margin: 0px;
    padding: 0px;

    //    background: none;
    //    height: 32px ;
    //    width: 32px ;
    background: white;
    color: black;

    //    opacity: 0.8;
    //    background-blend-mode: multiply;
}

.top-right-button {
    position: absolute;
    top: 40px;
    right: 20px;
    background: none;
    color: white;
    opacity: 0.8;
    background-blend-mode: multiply;
}

//$text-input-md-highlight-color: yellow ;

ion-label {
    font-family: "latoregular";
    font-size: 17px;
    color: #606060;
}

.item-button {
    font-family: "latolight";
    min-height: 48px;

    //    max-height: 48px ;
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    color: #00007D;
    background-color: $ksd-footer-button-color;
}

.item-input .label-md, .item-select .label-md, .item-datetime .label-md {
    font-size: 17px;

    //    font-family: "latoregular" ;
    color: #7C7E81;

    // color: yellow ;
    // background-color: green ;
}

.input-has-focus .label-md[floating] {
    font-size: 16px;
    color: #7C7E81;
    border-color: #FF4070;
}

/*
.ksd-facebook {
    font-size: 15px ;
    font-family: "latolight" ;
    color: #3990D9;
    background-color: white ;
    border: 2px solid #3990D9;
    margin-left: 2px ;
    width: 99% ;
    margin-right: 2px ;
    margin-top: 28px ;
    box-shadow: none;
}
*/

/* Workaround to hide android default validation colors */
ion-item.item-md.item-input.input-has-focus .item-inner,
ion-item.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
ion-item.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
    border-bottom-color: #efefef;
    box-shadow: none;
}

/* Workaround to hide window phone default validation colors */
/*
ion-item.item-wp.item-input.input-has-focus .text-input,
ion-item.item-wp.item-input.ng-valid.input-has-value:not(.input-has-focus) .text-input,
ion-item.item-wp.item-input.ng-invalid.ng-touched:not(.input-has-focus) .text-input {
    border: 2px solid #ffffff;
}
*/

// Custom icons
// Overriding the ion-icon behavior
// All custom icons will start with "appname-" prefix
ion-icon {
    &[class*="hie-"] {
        // Instead of using the font-based icons
        // We're applying SVG masks
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 1em;
    }

    // custom icons
    &[class*="hie-close"] {
        mask-image: url(../assets/img/ico_close.svg);
    }

    &[class*="hie-menu"] {
        mask-image: url(../assets/img/ico_menu.svg);
    }

    &[class*="hie-calendar"] {
        mask-image: url(../assets/img/ico_calendar.svg);
    }

    &[class*="hie-time"] {
        mask-image: url(../assets/img/ico_time.svg);
    }

    &[class*="hie-tick-green"] {
        mask-image: url(../assets/img/ico_tick_green.svg);
    }

    &[class*="hie-completed-tick-green"] {
        mask-image: url(../assets/img/ico_completed_tick_green.svg);
    }

    &[class*="hie-warning"] {
        mask-image: url(../assets/img/ico_warning.svg);
    }

    &[class*="hie-warning-yellow"] {
        mask-image: url(../assets/img/ico_warning_yellow.svg);
    }

    // &[class*="hie-close-cross-white"] {
    //     mask-image: url(../assets/img/ico_close_cross_white.svg);
    // }

    &[class*="hie-close-cross-black"] {
        mask-image: url(../assets/img/ico_close_cross_black.svg);
    }

    // &[class*="hie-close-cross-black-circle"] {
    //     //background: white ;
    //     image: url(../assets/img/ico_close_on_white.svg);
    // }

    &[class*="hie-close-cross-black-circle"] {
        mask-image: url(../assets/img/ico_close_cross_black_circle.svg);
    }

    &[class*="hie-forward-arraw"] {
        mask-image: url(../assets/img/ico_forward_arrow.svg);
    }

    &[class*="hie-forward-arraw-black"] {
        mask-image: url(../assets/img/ico_forward_arrow_black.svg);
    }

    &[class*="hie-back-arrow-black"] {
        mask-image: url(../assets/img/ico_back_arrow_black.svg);
    }

    &[class*="hie-facebook"] {
        mask-image: url(../assets/img/ico_facebook.png);
    }

    &[class*="hie-1facebook"] {
        mask-image: url(../assets/img/ico_facebook.svg);
    }

    &[class*="hie-completed-tick-green"] {
        mask-image: url(../assets/img/ico_completed_tick_green.svg);
    }
}

.footer-row {
    font-family: "latolight";
    min-height: 48px;
    max-height: 48px;
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    background-color: $ksd-footer-button-color;
    color: #00007D;

    //   padding: 0px ;
}

.footer-col-left {
    padding: 0px;
    width: 40px;

    //  background-color:green ;
    //  background-color: $ksd-footer-button-color ;
    max-width: 10%;
}

.footer-col-center {
    padding: 0px;
    width: 200px;
}

.footer-col-right {
    padding: 0px;
    width: 40px;
    padding-right: 2px;

    //  background-color:blue ;
    max-width: 10%;
}

.ksd-image {
    height: 70px;
    width: 70px;
    padding: 0px;
}

.ksd-discount {
    color: #FF8A41;
    margin: 0px;
    padding: 0px;
    margin-left: 10px;
    font-size: 16px;
}

.ksd-days {
    font-size: 10px;
    margin: 0px;
    margin-left: 10px;

    //   font-size: 70% ;
    color: #606060;

    // margin: 0px ;
    // padding: 0px ;
}

.dialog-position {
    height: 60%;

    // Change this to adjust the position of the dialog
    width: 80%;
    justify-content: center;
}

.images-parent {
    text-align: center;
}

.left-image {
    float: left;
    max-width: 80px !important;
    max-height: 80px !important;
}

.center-image {
    margin: 0 auto;
    max-width: 80px !important;
    max-height: 80px !important;
}

.right-image {
    float: right;
    max-width: 80px !important;
    max-height: 80px !important;
}

.ksd-modal-page {
    //        padding: 30px;
    background: rgba(0, 0, 0, 0.5);
}

.ksd-error {
    background-color: red;
}

.ksd-warning {
    background-color: yellow;
}

.platform-ios {
    //Title alignment in toolbar fix for ios
    // div.toolbar-title.toolbar-title-md {
    //     padding-top: 14px ;
    // }
}

ion-title {
    font-family: "latolight";
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    width: 100%;
    height: 100%;
    font-size: 20 px;
    z-index: -1;
}

.back-button.show-back-button {
    z-index: 9999;
    display: inline-block;
}

ion-datetime {
    margin-left: 10px;
}

.ksd-collection {
    background-color: white;
    color: black;
    border: none;
    background-image: none;
    margin: 0px;
    padding: 0px;
}

.ksd-timepicker {
    background-image: none;
    background-color: white;
    padding-left: 10px;
}

.ksd-address textarea {
    width: 100%;
    height: 100px;
    min-height: 100px;
    max-height: 100px;
    background-color: #F7F7F7;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    border: 1px 1px 1px 1px;

    // border-color: red ;
    // border-top: 2px ;
}

.ksd-center-horizontal {
    left: 50%;
    transform: translate(-50%, -50%);
}

// .item-md .item-button {
//     max-height: 48px ;
//     min-height: 48px ;
// }

.ksd-or {
    font-family: "latolight";
    font-size: 13px;
    padding: 0px;
    padding-bottom: 28px;
}

div.ksd-or:before {
    content: "\2501\2501 ";
    font-size: 10px;
    color: #606060;
    line-height: 0.1em;

    //    vertical-align: text-bottom ;
}

div.ksd-or:after {
    content: " \2501\2501";
    font-size: 10px;
    color: #606060;
    line-height: 0.1em;

    //    vertical-align: text-bottom ;
}

//Facebook
.ksd-fb-button {
    border: 1px solid #3990D9;
    width: 98%;
    left: 1%;
    background-color: white;
    color: #3990D9;

    // margin-left: 3px;
    // text-align: center;
    vertical-align: center;
}

.ksd-fb-login-text {
    font-family: "latolight";
    color: #3990D9;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    padding-left: 3px;
    vertical-align: text-top;
    background-color: white;
}

.toolbar-content {
    margin-top: 5%;
    width: 100%;
    text-align: center;
    pointer-events: none;
}

.searchbar-clear-icon {
    background-color: white;
}

.alert {
    color: red;
}

.ksd-err {
    padding-left: 20px;
}

.ksd-no-result {
    color: red;
    text-align: center;
    vertical-align: center;
    height: 100%;
}

.ksd-confirm-change {
    padding: 0;

    //    background-color: yellow;
    //   color: black;

    button-group {
        text-transform: none;

        //        background-color: yellow;
        color: black;
    }

    //.ksd-confirm-change  
    //.alert-md
    .alert-button-group {
        background-color: #FFDD55;
    }
    .alert-head {
        margin-top: 10px ;
        background: url(../assets/img/ico_warning_yellow.svg) no-repeat;
        background-position-x: center;
    }
}

//android
.ksd-confirm-change .alert-md .alert-title {
    //    font-size: 22px;
    font-size: 17px;
    background: url(../assets/img/ico_warning.svg) no-repeat;
    background-position-x: center;

    //padding-top: 32px ;
    //padding-bottom: 80px ;
    text-align: center;
    color: #fff;
}

.ksd-confirm-change .alert-md .alert-sub-title {
    //    font-size: 16px;
    font-size: 17px;

    //padding-top: 32px ;
    //padding-bottom: 80px ;
    text-align: center;
    color: #fff;
}

//.ksd-confirm-change  
//.alert-md 
// .alert-button-group {
//     background-color: #FFDD55;
// }

.ksd-confirm-change .alert-md .alert-button .button-inner {
    // -webkit-justify-content: flex-end;
    // -ms-flex-pack: end;
    // justify-content: flex-end;
    color: black;
}

//ios
.ksd-confirm-change .alert-ios .alert-title {
    //    margin-top: 8px;
    //    font-size: 17px;
    font-weight: 600;
    color: #fff;
}

.ksd-confirm-change .alert-ios .alert-sub-title {
    //    font-size: 14px;
    color: #fff;
}

.ksd-confirm-change .button-inner {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: black;
}

//Windows Phone
.ksd-confirm-change .alert-wp .alert-title {
    //    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

.ksd-confirm-change .alert-wp .alert-sub-title {
    //    font-size: 16px;
    color: #fff;
}

.ksd-confirm-change .button-inner {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-negative: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: black;
    background-color: #FFDD55; // #010b35;
    text-transform: none;
}
