page-app-component {
    // .item-md.item-block .item-inner {
    //   padding: 0px ;
    // }

    // fion-item {
    //   margin: 0px ;
    // }

    ion-label.label {
        margin: 0px;
    }

    /*
    .item-md {
      padding: 0px ;
      margin: 0px ;
    }
    
    .item-md.item-block .item-inner {
      padding: 0px ;
    }
    
    .item-ios.item-block .item-inner {
      padding: 0px ;
    }
    
    .label-md {
      margin: 0px ;
    }
    */

    .ksd-padding {
        padding: 0px;
        margin: 0px;
        padding-left: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #F7F7F7;
        color: #00D4AA;
        width: 100%;
    }

    /*
    .item-inner {
      padding: 0px ;
    }
    */
    .ksd-big-spacer {
        padding: 0px;
        margin: 0px;
        padding-top: 30px;

        //   height: 15px ;
   
    }

    .ksd-small-spacer {
        padding: 0px;
        margin: 0px;

        //   padding-top: 15px ;
        //   height: 0px ;
   
    }

    .ksd-title {
        padding: 0px;
        padding-left: 10px;
        font-size: 17px;
        color: black;
    }

    .ksd-title-selected {
        padding: 0px;
        padding-left: 10px;
        font-size: 17px;
        color: #00D4AA;
    }

    .ksd-right-arrow {
        padding: 0px;
        text-align: right;
        padding-top: 15px;
        padding-right: 20px;
        background-color: #F7F7F7;
    }

    /*
    ion-header {
      //  position: absolute;
      //  top: 0;
      //  left: 0;
     //   padding: 0 90px 1px;
      //  width: 100%;
      //   height: 100%;
      font-size: 12px ;
      text-align: center;
    //   padding-top: 25px ;
    
    //  vertical-align: center ;
    //  z-index: -1 ;
    }
    */
    /*
    ion-header {
      .button-md {
        box-shadow: none;
      }
    
      .toolbar-title {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
    //   padding-top: 15px ;
      }
    }
    .ios {
    .toolbar-title-md {
      padding-top: 15px ;
    }
    
    }
    */
    ion-title {
        z-index: -1;
    }

    .ksd-user-info {
        position: absolute;
        bottom: 40px;
        padding-left: 20px ;
    }
}
