<ion-content class="">
  <div class="modal-popup">
    <p text-center [innerHtml]="text"></p>
    <div style="margin: 0px; position: absolute; bottom: 0px; width: 100%;">
      <button style="margin: 0px" primary ion-button full (click)="ok()">OK</button>
    </div>
  </div>
  <!--<div class="my-popup">
    {{text}}
  </div>-->
  <!--<ion-list>
    <ion-item>
        <div>
          <p>{{text}}</p>
          <button ion-button style="color:grey" (click)="ok()">Ok</button>
          <button ion-button style="color:grey" (click)="cancel()">Cancel</button>
      </div>
    </ion-item>
    <ion-item>
      <div class="layout-row" style="width:100%;justify-content:Flex-end;margin:10px;">
        <button ion-button clear (click)="ok()">OK</button>
      </div>
    </ion-item>
  </ion-list>-->
</ion-content>