<ion-header>

  <ion-navbar>
    <ion-title text-center>Change password</ion-title>
    <!-- <button ion-button menuToggle (click)="goBack()">
      <ion-icon name="back"></ion-icon>
    </button> -->
  </ion-navbar>

</ion-header>

<ion-content>
  <form [formGroup]="oInputForm" (ngSubmit)="onSave(oInputForm.value)">
      <ion-grid>
        <ion-row *ngIf="shouldShowOldPassword()">
          <ion-col>
            <ion-item>
              <ion-label stacked>Current password</ion-label>
              <ion-input formControlName="CURRENT_PASSWORD" type="password" name="CURRENT_PASSWORD"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label stacked>New password</ion-label>
              <ion-input formControlName="PASSWORD" name="PASSWORD" type="password"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label stacked>Repeat new password</ion-label>
              <ion-input formControlName="PASSWORD_REENTRY" name="PASSWORD_REENTRY" autocomplete="off" type="password"></ion-input>
            </ion-item>
            <!-- <ion-item no-lines *ngIf="oForm.hasError('PASSWORD_REENTRY')">
            <div class="alert alert-danger">
              {{oForm.getError('PASSWORD_REENTRY')}}
            </div>
          </ion-item> -->
          </ion-col>
        </ion-row>
        <!-- <div>
        {{oForm.hasError('PASSWORD_REENTRY')}}, {{form.getErrors() | json}}
      </div> -->
        <ion-row></ion-row>
        <ion-row>
          <ion-col>
            <p class="alert">{{sErrorText}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="ksd-err">
              <!-- <div *ngIf="oForm.hasError('CURRENT_PASSWORD')" class="alert alert-danger">
              {{oForm.getError('CURRENT_PASSWORD')}}
              <br/>
              {{oItem.PASSWORD}}
            </div> -->
              <div *ngIf="oInputForm.controls.PASSWORD.dirty && oForm.hasError('PASSWORD')" class="alert alert-danger">
                {{oForm.getError('PASSWORD')}}
              </div>
              <div *ngIf="oInputForm.controls.PASSWORD_REENTRY.dirty && oForm.hasError('PASSWORD_REENTRY')" class="alert alert-danger">
                {{oForm.getError('PASSWORD_REENTRY')}}
              </div>
            </div>
          </ion-col>
        </ion-row>
        <!-- <div class="ksd-field-spacer"></div> -->

        <ion-row text-center style="padding-top: 20px; padding-left:10px">
          <ion-col>
            <button ion-button full type="submit" [disabled]="!oForm.isValid()">
              <p>Save</p>
            </button>
          </ion-col>
        </ion-row>

      </ion-grid>
    </form>

    <!--<p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>-->

</ion-content>
