page-password-reset-message {

  .ksd-spacer {
      padding-top: 158px ;
  }
  .ksd-spacer-0 {
      padding-top: 50px ;
  }
  .ksd-spacer-1 {
      padding-top: 10px ;
  }
  .dialog-position {
    height: 190px;  // Change this to adjust the height of the dialog
    width: 285px ;
    background-color: white ;
    justify-content: center;
    padding: 0px ;
  }

 //Required to cover the botton space
 .button-md {
      min-height: 4.2rem ;
      max-height: 4.2rem ;
      color: black ;
  }   

  .ksd-text {
    font-family: "latolight" ;
    font-size: 17px ;
    color: black ;
  }

  .ksd-error {
    padding:0px ;
    margin: 0px ;    
//    box-shadow: none ;
  }

  .warning {
      margin-left: auto;
      margin-right: auto;
      display: block;
      
      background: url(../assets/img/ico_warning_yellow.svg) no-repeat ; 
      background-position-x: center ;
      width: 80px;
      height: 35px;
      align-items: center ;
  //   margin: 20px auto 0 auto;
  }
  /*
 //Required to cover the botton and side space
  .label-md {
      padding:0px ;
      margin: 0px ;
  }
 //Required to cover the botton space
 .item-md {
      min-height: 2.0rem ;
      padding: 0px ;
  }   
 //Required to cover the botton space
  .item-md .item-button {
    min-height: 40px ;
  }
  //Required to remove right space
  .item-md.item-block .item-inner {
    padding: 0px ;
  }

  //
  .ksd-text {
  //  font-family: "latoregular" ;
    font-size: 18px ;
    color: black ;// #FA0505 ;
  //  padding-right: 20px ;
  }

  //OK Button Color & Size
  span {
//    font-family: "latolight" ;
    color: black ;
    font-size: 20px ;
    text-transform: none; 
  }

  .warning {
      margin-left: auto;
      margin-right: auto;
      display: block;
      
      background: url(../assets/img/ico_warning_yellow.svg) no-repeat ; 
      background-position-x: center ;

      width: 80px;
      height: 35px;
      align-items: center ;
  //   margin: 20px auto 0 auto;
  }

  .dialog-position {
    margin-left: 30px ;
  }
  */
}

