page-forgot-password {
  // .text-regular {
  //   font-family: "latoregular" ;
  //   color: #606060 ;
  //   font-size: 17px ;
  // }
  // .text-input {
  //   font-family: "latoregular" ;
  //   color: #606060 ;
  //   font-size: 14px ;
  // }


//   ion-modal {
//     ion-backdrop {
//         visibility: visible;
//     }
//     .modal-wrapper {
//         width: 70%;
//         height: 30%;
//         top: 0 ; //((100%-30%)/2) ;
//         left: 0 ; //((100%-70%)/2) ;
// //        margin: 7%;
//         position: absolute;
// //        border-radius: 13px;
// //        overflow: hidden;
//     }
// }
.ksd-field-spacer {
  padding-top: 20px ;
}
.ksd-info {
  padding-top: 50px ;
  padding-left: 10px ;
  padding-right: 10px ;
  font-family: 'latoregular' ;
  font-size: 17px ;
  color: #606060 ;
}
.ksd-spacer {
  padding-top: 50px ;
}
.ksd-spacer-1 {
  padding-top: 50px ;
}
}
