page-pre-login {
  ion-content{
    background-image: url('../assets/icons/img-intro.jpg');
    padding: 16px ;
//     padding: 20px;
  }
  .HIELight {
    font-size: 36px ;
    margin-left: 16px ;
    color: #ffffff ;
    font-family: "Lato Light" ;
  }
  .HIEReg {
    font-size: 18px ;
    margin-left: 16px ;
    color: #ffffff ;
    margin-bottom: 50px ;
    font-weight: bold ;
  }

  .HIERegYellow {
    color: #00007D ;
    display: inline-block ;
    bottom: 40px ;
    position: absolute;
    text-align:center;
    vertical-align: bottom ;
  }

/*
  .logo {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 30px;
    text-align:center;
  }
*/
  .HIEhr {
  width: 55%;
  margin-left: 16px;
  height: 1px;
  border: 0 none;
  background-color:#ffffff;
  color:#ffffff;
  }
.content-md hr {
    background-color: #ffffff;
}
}
