page-confirmed-order {
//NOT USED ( page-incoming-order is used )
  .ksd-card {
    background-color: #F7F7F7;
    padding-right: 3px ;
  }

  ion-item {
    max-height: 2.0rem ;
  }

  ion-item.ksd-card.item.item-block.item-md {
    margin: 0px ;
    padding-left: 5px ;
    min-height: 2.0rem;
  }
  
  .ksd-date {
//    font-family: 'latoregular' ;
    font-size: 12px ;
    background-color: white ;
    color: black ;
   }

 .ksd-time {
 //   font-family: 'latoregular' ;
    font-size: 12px ;
    color: #050505 ;
   }

  .ksd-details {
   // font-family: 'latoregular' ;
    font-size: 15px ;
    background-color: #F7F7F7;
    color: black ;
    padding: 0px ;
    margin: 0px ;
  }

  .ksd-order-number {
   // font-family: 'latoregular' ;
    font-size: 12px ;
    color: #050505 ;
  }

  .ksd-name {
   // font-family: 'latoregular' ;
    font-size: 12px ;
     color:  #00D4AA ;
  }

  
  .ksd-spacer {
    padding-top: 5px ;
  }

  .ksd-spacer-1 {
    background-color: #F7F7F7;
    padding-top: 26px ;
  }

  //   //Change the Button Size
  // span.button-inner {
  //      font-size: 11px ;
  // }
  .ksd-round-button {
//    font-family: "latolight" ;
    font-size: 11px ;
    width: 50px ;
    padding-right: 10px ;
//    height: 20px ;
//    color: black ;
  }

}
