<ion-header>

  <ion-navbar>
    <ion-title>Confirmed order</ion-title>
    <button ion-button menuToggle (click)="goBack()">
      <ion-icon name="back"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>

<ion-content>
  <div *ngIf="bLoaded">
    <div *ngIf="oItemGroupedByDate.length == 0">
      <p class="ksd-no-result">{{sErrorText}}</p>
    </div>
    <div no-padding *ngFor="let g of oItemGroupedByDate">
      <div class="ksd-date">{{g.PICKUPON | date: 'dd MMM yyyy'}}</div>
      <ion-card padding [class]="getStyle(g.PICKUPON)" *ngFor="let o of g.data;" ion-item>
        <ion-row class="ksd-padding">
          <ion-col col-3>
            <div class="ksd-time">{{o.PICKUPTIME}}</div>
          </ion-col>
          <ion-col col-3>
            <div class="ksd-name">{{o.CUSTOMER_NAME}}</div>
          </ion-col>
          <ion-col col-6>
            <div class="ksd-order-number">Order No. {{o.BOOKINGREF}}</div>
          </ion-col>
        </ion-row>
        <ion-item no-padding ion-item [class]="getStyle(g.PICKUPON)" *ngFor="let oD of o._D; let i = index;">
          <ion-item no-padding item-left [class]="getStyle(g.PICKUPON)">
            <div class="ksd-details" (click)="showOrderDetails(o)">{{oD.QUANTITY}} x {{oD.TITLE}}</div>
            <button align-right ion-button round *ngIf="i == o._D.length - 1" class="ksd-round-button" item-right (click)="changeOrderStatus(oD)">Fulfilled</button>
          </ion-item>
        </ion-item>
        <ion-item no-lines [class]="getStyle(g.PICKUPON)">
          <div style="padding-bottom: 20px"></div>
        </ion-item>
        <!--<ion-item no-lines class="ksd-spacer ksd-card">
        </ion-item>-->
      </ion-card>
      <div style="padding-bottom: 20px;" [class]="getStyle(g.PICKUPON)"></div>
    </div>
  </div>


  <!--<ion-content padding>
  <div *ngIf="bLoaded">
    <ion-list>
      <ion-item-group padding *ngFor="let g of oItemGroupedByDate; let i = index">
        <div class="ksd-date">{{g.PICKUPON}}</div>
        <ion-card class="ksd-card" *ngFor="let o of g.data; let i = index" ion-item>
          <ion-row>
            <ion-col>
              <div class="ksd-time">{{o.PICKUPTIME}}
                </div>
            </ion-col>
            <ion-col>
              <div class="ksd-name">{{o.CUSTOMER_NAME}}</div>
            </ion-col>
            <ion-col>
              <div class="ksd-order-number">Order No. {{o.BOOKINGREF}}</div>
            </ion-col>
          </ion-row>
          <ion-item no-padding ion-item class="ksd-card" *ngFor="let oD of o._D; let i = index;">
            <ion-item class="ksd-card" no-padding  item-left >
              <div class="ksd-details">{{oD.QUANTITY}} x {{oD.TITLE}}</div>
              <button align-right ion-button round *ngIf="i == o._D.length - 1" class="ksd-round-button" item-right (click)="changeOrderStatus(oD)">Fulfilled</button>
            </ion-item>
          </ion-item>
          <ion-item no-lines class="ksd-spacer ksd-card">
          </ion-item>
        </ion-card>
      </ion-item-group>
    </ion-list>
  </div>-->
</ion-content>
<ion-footer>
  <button primary ion-button full (click)="nextPage()"><p class="ksd-anchor-button"> View history order</p></button>
</ion-footer>